/* Color */

:root {
    --color-1: rgb(209, 160, 0);

    --color-hover-1: rgb(38, 134, 0);
}

.color-1 {
    background-color: var(--color-1);
}

.hover-menu:hover {
    background-color: var(--color-hover-1);
}

.active-menu {
    background-color: var(--color-1);
}